*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

header{
  z-index:999;
  position: sticky;
  top:0;
  left:0;
}

body{
  font-family: "Consolas", sans-serif;
}

body::-webkit-scrollbar{
  display: none;
}

.navbar{
  display:flex;
  align-items:center;
  padding:8px 10px 8px 10px;
  background-color: #000;
  position: fixed;
  width:100%;
}

nav{
  flex:1;
  text-align:center;
}

nav ul{
  display:inline-block;
  list-style-type: none;
}

nav ul li{
  display:inline-block;
  margin-right: 20px;
}


a{
  text-decoration: none;
  color: #fff;
}

p{
  color: #000;
}

.container{
  max-width:1300px;
  margin:auto;
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
}

.row{
  display:flex;
  align-items: center;
  flex-wrap:wrap;
  justify-content: space-around;
}

.col2{
  flex-basis:50%;
  min-width: 300px;
}

.col2 img{
  max-width: 100%;
  padding: 50px 0;
}

.col2 h1{
  font-weight: bolder;
  font-size: 50px;
  line-height: 50px;
  margin: 25px 0;
}

.btn{
  display:inline-block;
  background-color: #000;
  color: #fff;
  padding: 8px 20px;
  margin:30px 0;
  border-radius: 50px;
  transition: background 0.5s;
  cursor: pointer;
}

.btn:hover{
  background: #2e2e2e;
}

.icon{
  margin-right:18px;
}

.smallcontainer{
  max-width:1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.another{
  max-width:1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 120px;
}

.title{
  text-align:center;
  margin:0 auto 30px;
  position:relative;
  line-height: 50px;
}

.title::after{
  content:'';
  background: #000;
  width: 80px;
  height: 3px;
  position: absolute;
  bottom: 0;
  left:50%;
  transform: translateX(-50%);
}

.col3{
  flex-basis: 25%;
  padding: 0px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.3s;

}

.col3 img{
  width:110%;
}

.col3:hover{
  transform: translateY(-5px);
}

.footer{
  background:#000;
  color:#fff;
  font-size:14px;
  padding:20px 0 20px;
  margin-top:30px;
}

.footer p{
  color:#fff;
}

.footer h3{
  margin-bottom:10px;
}

.footer-col1,.footer-col2,.footer-col3,.footer-col4{
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col1{
  flex-basis: 30%;
}

.footer-col2{
  flex: 1;
  text-align: center;
}

.footer-col2 img{
  width:50px;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.footer-col3,.footer-col4{
  flex-basis: 12%;
  text-align: center;
}

ul{
  list-style-type: none;
}

.payment img{
  width:150px;
}

.footer hr{
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}
.copyright{
  text-align: center;
}

<!--All Products-->
.row2{
  justify-content: space-between;
  margin: 100px auto 50px;
}

<!--singleproduct-->
.singleproduct{
  margin-top: 80px;
}

.singleproduct col2 img{
  padding: 0px;
}

.singleproduct col2{
  padding: 20px;
}

.singleproduct h4{
  margin: 20px 0;
  font-size: 19px;
}

.singleproduct select{
  display: block;
  padding: 5px;
  margin-top: 10px;
}

.small-img-row{
  display:flex;
  justify-content: space-between;
}

.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}

.col2 h3{
  margin-bottom: 10px;
}

.col2 h4{
  margin-top: 5px;
}

<!--sidecart-->
#carticon{
  position:relative;
  display:inline-block;
}

#searchicon i{
  cursor:pointer;
  font-size: 20px;
  margin-right: 15px;
}

.search{
  position: fixed;
  top: 0;
  right: -100%;
  width: 360px;
  height: 100%;
  background: #fff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  padding: 65px 20px 40px;
  z-index: 100;
  overflow: auto;
  transition: 0.5s;
  overflow-y: scroll;
}

.search::-webkit-scrollbar{
  display: none;
}

.search form{
  width: 100%;
  border: 1px solid #000;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search form input{
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
  font-size: 16px;
  padding: 8px 10px;
}

.search form i{
  padding-left: 10px;
}

.search-list{
  padding: 2px 0;
}

.listing{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.listing img{
  width: 120px;
  height:120px;
  object-fit: cover;
  border-radius: 5px;
}

.s-details{
  padding-left: 10px;
}

.s-details h2{
  font-size: 16px;
}

.s-details h3{
  font-size: 15px;
}

.search.active{
  right:0;
}

#search-close{
  position: absolute;
  top:20px;
  right: 15px;
  font-size: 35px;
  cursor: pointer;
}

#accicon i{
  cursor:pointer;
  font-size: 20px;
}

#carticon i
{
  font-size: 25px;
  cursor:pointer;
  margin-right: 15px;
}

#carticon .cart-item-count {
    position: absolute;
    top: 30px;
    right: 40px;
    width: 15px;
    height: 15px;
    background: #e35f26;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cart{
  position: fixed;
  top: 0;
  right: -100%;
  width: 360px;
  height: 100%;
  background: #fff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  padding: 65px 20px 40px;
  z-index: 100;
  overflow: auto;
  transition: 0.5s;
}

.cart.active{
  right:0;
}

.cart-title{
  text-align: center;
  font-size: 30px;
}

.cart-box{
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.cart-box img{
  width: 100px;
  height: 100px;
  border-radius: 6px;
  object-fit: cover;
  margin-right: 20px;
}

.cart-detail{
  display: grid;
  gap:8px;
  margin-right: auto;
}

.cart-product-title{
  font-size: 16px;
  line-height: 1;
}

.cart-price{
  font-weight: 500;
}

.cart-quantity{
  display: flex;
  width: 100px;
  border: 1px solid #fff;
  border-radius: 6px;
  overflow: hidden;
}

.cart-quantity button{
  background: transparent;
  width: 30px;
  border: none;
  font-size:20px;
  cursor:pointer;
}

.cart-quantity #decrement{
  color:#999;
}

.cart-quantity .number{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  cursor: default;
}

.cart-remove{
  font-size: 25px;
  cursor: pointer;
}

.totals{
  display: flex;
  justify-content:flex-end;
  align-items:center;
  border-top: 1px solid #333;
  margin-top: 20px;
  font-size: 18px;
}

.totals-price{
  margin-left: 10px;
  font-weight: 600;
}

.buttonbuy{
  display:block;
  background-color: #000;
  color: #fff;
  padding:10px 30px;
  margin:20px auto 0;
  border-radius: 50px;
  font-family: "Consolas", sans-serif;
  font-size: 16px;
  transition: background 0.5s;
  cursor: pointer;
}

.buttonbuy:hover{
  background: #2e2e2e;
}

#cart-close{
  position: absolute;
  top:20px;
  right: 15px;
  font-size: 35px;
  cursor: pointer;
}
